<% content_for :head do %>
  <title>Mon Profil - Mes Pâtissiers</title>
<% end %>
<h1 class="text-center">Votre profil</h1>

<hr>

<div class="container">

  <div class="row">


    <div class="col-sm-6">

      <h2>Vos infos</h2>

      <ul class="list-group">
        <li class="list-group-item"><%= @user.first_name %></li>
        <li class="list-group-item"><%= @user.last_name %></li>
        <li class="list-group-item"><%= @user.address %></li>
        <li class="list-group-item"><%= @user.email %></li>
        <li class="list-group-item"><%= @user.phone_number %></li>
      </ul>
    </div>

  <div class="col-sm-6">
    <h2>Vos commandes</h2>
    <ul class="list-group">
      <% @user.orders.each do |order| %>
      <li class="list-group-item">
       <%= order.pastry.baker.first_name %> - <%= order.pastry.name %> -
        <%= order.status %> -
        <%= order.delivery_date %>
      </li>
      <% end %>
       </ul>

    <ul class="list-group">

         <ul class="list-group">
              <% current_user.pastries.each do |pastry| %>
                <% if pastry.orders.count != 0 %>
              <% pastry.orders.each do |order| %>
              <li class="list-group-item">
               Client : <%= order.user.first_name %> - <%= order.status %> -
        <%= order.delivery_date %> <%= link_to order_path(order), method: :patch do %>
            <i class="fa fa-check pull-right" aria-hidden="true"></i></li>
            <% end %>
              <% end %>
              <% end %>
              <% end %>

             </ul>
    </div>
  </div>
</div>
