<div class="card"
  style="background-image: linear-gradient(to right, rgba(237, 66, 100, 0.2), rgba(255, 237, 188, 0.2)), url('<%= cl_image_path p.photo, height: 300, width: 400, crop: :fill %>')">

  <div class="card-category">
      <%= p.category  %>
  </div>

  <div class="card-description">
    <h2><%= p.name %></h2>
      <p><%= p.baker.first_name %> <%= p.baker.last_name %></p>
  </div>

  <div class="card-price">
    <p><%= p.price %>€</p>
  </div>

  <%= link_to "Voir la pâtisserie", pastry_path(p), class: "card-link" %>

</div>
