<% content_for :head do %>
  <title>Votre recherche - Mes Pâtissiers</title>
<% end %>

<div class="maintContentWrapper">


 <div class="row overflowWrapper">



  <% @pastries.each do |pastry|%>

  <div class="col-xs-12 col-sm-6" >

    <%= render 'card', p: pastry %>

  </div>

  <% end %>

</div>
</div>

<!-- Insertion de la carte dans la div avec l'id "map", elle-même contenu dans un wrapper qui fait 34% de largeur -->

<div class="mapContentWrapper">
  <div id="map" style="width: 100%; height: 100%;"></div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>

<!-- déclartion de la fonction initialization qui construit la carte -->

    function initialisation(){
        var optionsCarte = {
          zoom: 8,
        }
        var map = new google.maps.Map(document.getElementById("map"), optionsCarte);
        var bounds = new google.maps.LatLngBounds();

<!-- -->

            var markerIcon = {
              url: 'http://3.bp.blogspot.com/-Z2lqh9P1Hqk/T6bQcLdwSSI/AAAAAAAABUI/YaIeGdrD2_0/s1600/toque10.jpg',
              scaledSize: new google.maps.Size(80, 80),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(32,65)
            };

          var markerLabel = '';
         function addMarker(lat, lng, markerLabel) {
           var marker = new google.maps.Marker({
             position: new google.maps.LatLng(lat, lng),
             map: map,
            label: String(markerLabel),
            icon: markerIcon,
            label: {
              text: markerLabel,
              color: "#eb3a44",
              fontSize: "16px",
              fontWeight: "bold"
            }
           });
           bounds.extend(new google.maps.LatLng(lat, lng));
         }

  <% @users.each do |user| %>
    addMarker(<%= user.latitude %>, <%= user.longitude %>, "<%= user.first_name %>");
  <% end %>

    map.fitBounds(bounds);
    }
    google.maps.event.addDomListener(window, 'load', initialisation);

  <% end %>
<% end %>
