<div class="container">
 <div class="row">
   <div class="col-xs-12 col-md-6">
  <!--  créer une partial -->
     <%= @pastry.baker.first_name %>
     <%= @pastry.baker.last_name %>
     <%= @pastry.baker.pastries.count %>
     <p>Ajouter la carte du baker</p>

   </div>
   <div class="col-xs-12 col-md-6">
      <%= @pastry.name %>
      <p>ajouter la photo</p>
      <%= link_to "Commander", class: "btn btn-primary" %>
   </div>
 </div>
</div>
