<% content_for :head do %>
  <title>Pâtisseries - Mes Pâtissiers</title>
<% end %>

<div class="container">
  <h3 class="text-center little-paded"><%= @pastry.name %>, une création de <%= @pastry.baker.first_name %></h3>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="wrapper-photo">
        <%= cl_image_tag(@pastry.photo,
          width: 500, height: 300, crop: :fill, class: "text-center") %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h3 class="pastry-category"><%=@pastry.category %></h3>
      <p><i class="fa fa-cutlery pastry-details" aria-hidden="true"></i> <%= @pastry.slices %> persons</p>
      <p><i class="fa fa-commenting pastry-details" aria-hidden="true"></i> <%= @pastry.description %></p>
      <p><i class="fa fa-eur pastry-details" aria-hidden="true"></i> <%= @pastry.price %></p>
      <p><i class="fa fa-clock-o pastry-details" aria-hidden="true"></i> <%= @pastry.order_warning %> jours de préparation</p>
      <p><i class="fa fa-birthday-cake pastry-details" aria-hidden="true"></i> <%= @pastry.category %></p>
      <% if current_user == @pastry.baker %>
        <%= link_to "Editer la pâtisserie", edit_pastry_path(@pastry), class: "btn btn-primary" %>
      <% end %>
    </div>
    </div>
  </div>
  <div class="container">
    <hr>
    <h4 class="text-center">Commander</h4>
    <div class="flexbox">
     <% if user_signed_in? %>
      <% if (@user.address == nil || @user.address == "") || (@user.phone_number == nil || @user.phone_number == "") %>
        <p>Vous devez compléter vos informations pour pouvoir commander</p>
        <%= simple_form_for [@user] do |f| %>
            <%= f.input :address, label: "Adresse" %>
            <%= f.input :phone_number, label: "Numéro de téléphone" %>
            <%= f.hidden_field :pastry_id, value: @pastry.id %>
            <%= f.button :submit, "Mettre à jour", class: "btn btn-primary", method: :update%>
        <% end %>
       <% else %>
        <%= simple_form_for [@pastry, @order] do |f| %>
           <%=f.input :delivery_date, placeholder: "Date de retrait", label: "Quand voulez vous déguster ?" %>
           <%= f.input :quantity, placeholder: "1", label: "Quantité" %>
           <%=f.button :submit, "Commander", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    <% else %>
      <%= simple_form_for [@pastry, @order] do |f| %>
        <%=f.input :delivery_date, placeholder: "Date de retrait", label: "Quand voulez vous déguster ?" %>
         <%= f.input :quantity, placeholder: "1", label: "Quantité" %>
        <%=f.button :submit, "Commander", class: "btn btn-primary" %>
      <% end %>
    <% end %>
    </div>
  </div>
  <hr>
<br>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
       <div id="map-show-pastry" style="width: 80%; height: 30vh;"></div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="user-profile">
          <% avatar_url = @pastry.baker.facebook_picture_url || "http://placehold.it/30x30" %>
            <%= image_tag avatar_url, class: "avatar-very-large" %><br>
          <p><%= @pastry.baker.first_name %></p>
          <ul class="list-inline">
            <% 5.times do %>
               <li><i class="fa fa-star stars-yellow"></i></li>
            <% end %>
               (note globale sur <%= rand(45..89) %> votes)
          </ul>
        </div>
    </div>
  </div>
</div>
<br>
<br>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map-show-pastry' } }, function() {
        provider: {
          scrollwheel :false
        }
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

